body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}
form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
form input {
    margin: 1rem;
}
form button {
    padding: 0.7rem 2rem;
    cursor: pointer;
}
form input {
    padding: 0.7rem 1rem;
}
